.box {
    width: 200px;
    height: 200px;
    background: dodgerblue;
    border: 10px dashed #4169e1;
    /* border-width: 10px 20px 10px 20px; top right bottm left */
    /* only 10 20 does same */
    border-radius: 100%;
/* Go to css-tricks.com,laready written code  */

}