/* for gradient we need to use only background or background-image */
/* its usage shoul be learned by example */
.box {

    width: 200px;
    height: 200px;
    /* background: linear-gradient(to left, dodgerblue, yellow); */
    background: radial-gradient(white, yellow);
    
}

/* gradient.io is best for pre-set gradient  */