p {
    color: dodgerblue;
    border: 1px solid black;
}

/* our strong element inherits the color element 
by default 
if we want to prevent it  */
 strong {
    color: initial;
    /* if we want to inherit the border 
    property , then  */
border: inherit;
}