body  {
    margin: 10px;
}
/* .first {
    font-size: 140%;
    font-style: italic;
}   */

/* only applies to the first class */
/* but we can the same result by pseudo class
just typing article:first-child */
article :first-child{
    font-size: 140%;
    font-style: italic;
}
article :last-child{
    font-size: 140%;
    font-style: bold;
}


/* this only applies first child of article */
/* if we write :first-of-type instead :first-child
it'll apply the first occurence different type of elements */
/* if we write p:first-of-type,
i applies only the first occurence of p tag */
/* similarly, :last-of-type and last child 
works same way  */





/* say, we have an ordered list 
we want to highlight the odd number of items */
ul  li:nth-child(even){
    color: red;
}



/* ul  li:nth-child(3n){
    color: red;
} */

/* to customize visited link 
which by default is violet  */
a:visited,
a:link {
    color: dodgerblue;
}
a:hover, a:focus{
    color: deeppink;
}