body {
    margin: 10px;
}

/* .first-letter {
    font-size: 140%;
    font-weight: bold;
} */
/* This is unnecessary becuase  , 
we have better option in pseudo element selectors */



/* See , we use single one for pseudo class
we use double one for pseudo elements */
p::first-letter{
    font-size: 140%;
    font-weight: bold;

}


/* **** we use pseudo elements to style part of an element
**** we use pseudo class  to style element of a particular state */


p::first-line{
    font-size: 140%;
    font-weight: bold;

}

/* to make  full first line bold */


::selection{
   background-color: pink;

}

/*to make out mouse selection pink and the paragraph only if  p::selection*/
/* only ::selection make all selection pink */



p::before /* also has after */ {
content: "...";
display: inline; /*block covers a whole line, inline not */
}