.box {
    width: 200px;
    height: 200px;
    background: dodgerblue;
    box-shadow: 10px  10px 50px grey;
    /* best is 0 0 30px grey  */
    /* if first param negative , shadow in left 
    if seconsd param negative , shadow in up  */
}
h1 {
color: white;
text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2)  ;/*  same property as box-shadow */

}